/* Import Zabbix Dark Theme as Base */
@import "dark-theme.css";

* {
    /* scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #050505 #1d1d1d;
}

/* Sidebar Primary */
.sidebar {
    background-color: #000;
}

/* Server Name Text below Zabbix Logo in Sidebar */
.sidebar .server-name, footer {
    color: #fff;
}

/* Searchbox */
.form-search .search {
    background: #0d0d0d;
}

/* Sidebar selected Element */
.menu-main > li.is-selected > a,
.menu-main .submenu > li.is-selected > a {
    background: #0d0d0d;
}

/* Sidebar Submenu */
.menu-main .submenu {
    background: #000;
}
.menu-main .submenu a {
    background: #050505;
}
.menu-user > li.is-selected > a,
.menu-user .submenu > li.is-selected > a {
    background: #0d0d0d;
}

/* Sidebar Submenu */
.menu-user .submenu {
    background: #000;
}
.menu-user .submenu a {
    background: #050505;
}

/* header */
header, body {
    background: #000;
}

/* buttons */
button, .btn {
    background: #2d2d2d;
    border-color: #2d2d2d;
    color: #fff;
}

/* inputs */
.multiselect, .z-select .focusable, z-select .focusable, .z-select .list, z-select .list, input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="time"], input[type="file"], textarea, select {
    background: #1d1d1d;
    color: #fff;
    border-color: #1d1d1d;
}

/* main area */
main {
    background: #050505;
}

/* widgets */
.dashboard-grid-widget-header,
.dashboard-grid-widget-contents {
    background: #0d0d0d;
    border-color: #0d0d0d;
}

/* tables */
.list-table,
.table-paging,
.table-forms-container,
.list-table.no-data tbody tr td {
    background: #0d0d0d;
}

/* filter area */
.filter-container,
.filter-forms,
.tabfilter-container,
.filter-container.tabfilter-container .tabfilter-content-container,
.modal-popup-medium .ui-tabs-nav, .modal-popup-large .ui-tabs-nav, .modal-popup-static .ui-tabs-nav, .modal-popup-preprocessing .ui-tabs-nav {
    background: #0d0d0d;
}

/* dialogs */
.overlay-dialogue {
    background: #0d0d0d;
}